# macOS
.DS_Store
**/.DS_Store

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 前端构建输出
dist/
build/

# VSCode 配置文件
.vscode/

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# GoLand / JetBrains IDE 缓存
.idea/

# 环境变量
.env
.env.*
