gtts~=2.5.1
opencv-python~=4.10.0.84
future~=1.0.0
pyaudio~=0.2.14
wave~=0.0.2
whisper~=1.1.10
deepface~=0.0.92
numpy>=1.19.2
scipy>=1.6.3
librosa~=0.9.1
soundfile>=0.12.1
soundcard>=0.4.2
resampy==0.2.2
numba>=0.53.0
pydub~=0.25.1
matplotlib>=3.5.2
termcolor>=1.1.0
typeguard==2.13.3
pillow>=8.3.2
tqdm>=4.64.1
visualdl>=2.2.3
pyyaml>=5.4.1
scikit-learn>=1.0.2
torchinfo>=1.7.2
av>=10.0.0
joblib>=1.2.0
funasr>=1.0.27
modelscope>=1.13.3
keyboard~=0.13.5
mser~=0.0.5
torch~=2.3.1
setuptools~=69.5.1
requests~=2.32.3
pynput~=1.7.7
watchdog~=4.0.1